<div>
  <iframe src="https://apps.designcan.in/devs/pa/UnlockIndia/views/Installation-Dowinx.php" width="100%" height="1100px">
  </iframe>
</div>

{% schema %}
{
  "name": "Downix form",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Downix form"
    }
  ]
}
{% endschema %}
